#navBar  {
	color: white;
	border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(243, 179, 73, 0.7);
	font-family: 'Droid Sans', sans-serif;
	}

#navBar > li > a:link {
	color:#5b6a71;
	font-family: 'Droid Sans', sans-serif;
}

#navBar > li > a:hover {
	color: #5b6a71;
	font-family: 'Droid Sans', sans-serif;
}

#navBar > li > a:visited {
	color: white;
	font-family: 'Droid Sans', sans-serif;
}

#navBar > li > a:active {
	color: #5b6a71;
	font-family: 'Droid Sans', sans-serif;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    color:white;
    background-color:#316781;
    }
.nav-pills > li  > a:hover {
	color:#316781 !important;
}

.nav-pills > li.active  > a:hover {
	color:white !important;
	background-color:#316781 !important;
}

#pageTitle {
	color: white;
	/*text-size: 90%;*/
	} 

a:link {
	color:#5b6a71;
}
a:hover{
	color: #5b6a71;
	}
a:visited {
	color: #5b6a71;
}
a:active {	
	color: white;
}

#images {
	/*border-radius: 20px;
	box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px; 
	border:10px solid #13001a; */
	background-size: cover; 
	background-position: center; 
	background-repeat:no-repeat;
 }

#btn-custom {
 background-color: hsl(330, 100%, 19%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0f87", endColorstr="#600030");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff0f87), to(#600030));
  background-image: -moz-linear-gradient(top, #ff0f87, #600030);
  background-image: -ms-linear-gradient(top, #ff0f87, #600030);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0f87), color-stop(100%, #600030));
  background-image: -webkit-linear-gradient(top, #ff0f87, #600030);
  background-image: -o-linear-gradient(top, #ff0f87, #600030);
  background-image: linear-gradient(#ff0f87, #600030);
  border-color: #600030 #600030 hsl(330, 100%, 10.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56);
  -webkit-font-smoothing: antialiased;
}

#h2er {
	color: white;
	font-size: 200%;
	font-family: 'Courgette', cursive;
	font-style: italic;
}

h1 {
  font-size: 600%;
  font-family: 'IM Fell Great Primer', serif;
  color: white;
  text-shadow: 2px 2px 2px black;
}

h2 {
  font-family: 'IM Fell Great Primer', serif;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.col-centered {
  display: inline-block;
  float: none;
  margin-right: -4px;
}

body {
  background: url("http://www.publicdomainpictures.net/pictures/30000/velka/christmas-light-rainbow.jpg") no-repeat center center fixed;
  height: auto;
   font-family: 'Philosopher', sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

.center-wrap {
  text-align: center;
  margin: auto;
  size: inherit;
  display: inline-block;
}

.row-right {
  text-align: right;
}

.row-centered {
  text-align: center;
}

.opacity {
  opacity: 1.0;
  z-index 100;
}

.box-shadow {
  box-shadow: 10px 0 20px 10px black;
}

.shadow-text {
  text-shadow: 10px 10px 10px black;
}

.white-border {
  border-color: black;
  border-width: 5px;
  border-style: solid;
}

